body {
  color: #31261a;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
background-color: antiquewhite;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  padding: 0;
  outline: none;
}

input,
textarea,
select {
  background-color: inherit;
  color: inherit;
  outline: none;
  margin: 0;
}

textarea {
  resize: none;
}

/* img {
  display: block;
  width: 100%;
  height: auto;
} */



.section-title {
width: 710px;
font-weight: 900;
font-size: 64px;
line-height: 1.3125;
color: #31261a;
}

.hero-title {
  font-weight: 900;
  font-size: 128px;
  color: #819b57;
  text-align: center;
  margin-top: 181px;
  
}

.hero-span {
  color: #faf4ea;
}

.header {
  background-image: url(./images/main.png);
  background-repeat: no-repeat;
  background-size: cover; /* Растягивает изображение, чтобы заполнить контейнер */
  background-position: center; /* Центрирует изображение */
  width: 100%; /* Занимает всю ширину контейнера */
  max-width: 1440px; /* Ограничивает максимальную ширину */
  height: 736px;
  padding-top: 34px;
  margin: 0 auto; /* Центрирует блок по горизонтали */
}

.logo {
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: #faf4ea;
margin-right: 152px;
cursor: pointer;
}
.nav {
  display: flex;
  gap: 64px;
  margin-right: 152px;
}

.nav-link {
font-size: 18px;
text-align: center;
color: #faf4ea;
}

.nav-link:hover {
  color: #819b57;
}

.main-div {
  margin-left: 103px;
  display: flex;
  align-items: center;
}

.button {
font-weight: 600;
font-size: 18px;
color: #faf4ea;
border: 2px solid #819b57;
border-radius: 8px;
padding: 16px 32px;
width: 238px;
height: 59px;
background: #819b57;
}

.box-div {
padding-top: 15px;
height: 62px;
backdrop-filter: blur(4px);
background: #819b57;
margin-top: -34px;

}

.box-list {
  display: flex;
justify-content: center;
gap:160px ;
}

.box-text {
  font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 20px;
color: #faf4ea;
}

/* /// */

.cotainer {
width: 1205px;
height: 100%;
margin-left: 100px;
margin-top: 96px;
}

.traditions {
  display: flex;
  gap: 104px;
}

.traditions-text {
  font-weight: 400;
  color: #31261a;
  width: 550px;
  margin-top: 42px;
}

.traditions-span {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #819b57;
}

.traditions-span1 {
  font-weight: 400;
  font-size: 18px;
  color: #819b57;
}

.img-vlad {
  display: block;
  max-width: 100%; 
  height: auto;
  margin: 0 auto;
  border-top-left-radius: 400px; 
  border-top-right-radius: 400px; 
}

/* /// */

.kitchen-title {
font-weight: 900;
font-size: 64px;
line-height: 1.3125;
color: #31261a;
width: 520px;
text-align: center;
margin-left: 376px;
margin-bottom: 80px;
}

.kitchen-list {
  display: flex;
justify-content: space-between;
padding: 10px;
}

.kitchen-item {
  display: flex;
  width: 605px;
}

.div-li {
  margin-left: 30px;
}

.li-title {

font-weight: 600;
font-size: 40px;
color: #31261a;
margin-bottom: 16px;
}

.li-text {
font-size: 18px;
color: #31261a;
margin-bottom: 30px;
}

/* /// */
.form {
  margin-top: 96px;
}

.form-title {
font-weight: 900;
font-size: 64px;
line-height: 1.3125;
text-align: center;
color: #31261a;
}

/* Настройки размера слайдера */
.swiper {
  width: 100%;
  height: 550px;
  display: flex; /* Включаем flexbox для выравнивания */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.swiper-wrapper {
  display: flex; /* Размещение слайдов в одну строку */
  width: 100%; /* Ширина контейнера слайдов */
  justify-content: space-between; /* Распределение слайдов с одинаковыми промежутками */

}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%; /* Каждому слайду даем треть ширины контейнера */
  padding: 0 10px; /* Добавление небольших отступов между слайдами */
}

/* Центрирование изображений внутри слайдов */
.swiper-slide img {
  display: block;
  max-width: 650px;  /* Максимальная ширина изображения */
  height: auto;
  margin: 0 auto;
}

/* Оформление навигационных кнопок */
.swiper-button-next,
.swiper-button-prev {
  color: black;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute; /* Позиционирование кнопок */
  top: 50%; /* Центрирование по вертикали */
  transform: translateY(-50%); /* Центрирование по вертикали */
}

/* Отступы для навигационных кнопок */
.swiper-button-next {
  right: -1px; /* Отступ справа */
}

.swiper-button-prev {
  left: -1px; /* Отступ слева */
}

/* Серый цвет для пагинации */
.swiper-pagination-bullet {
  background-color: gray;
}

.one {
  background-image: url(./images/one.png);
  height: 445px;
  width: 350px;
  padding: 10px;
}

.two {
  background-image: url(./images/two.png);
  height: 445px;
  width: 350px;
  padding: 10px;
}

.trehe {
  background-image: url(./images/there.png);
  height: 445px;
  width: 350px;
  padding: 10px;
}

.swiper-title {
  color: white;
  font-weight: 600;
font-size: 24px;
margin-top: 250px;
margin-bottom: 30px;
}

.swiper-text {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

/* // */

.contact {
  display: flex;
  gap: 32px;
}

.contact-title {
font-weight: 900;
font-size: 64px;
line-height: 1.3125;
color: #31261a;
margin-bottom: 16px;
}

.contact-div {
  width: 605px;
}

.contact-text {
  font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 18px;
color: #465929;
}

.forma {
  margin-top: 42px;
  display: flex;
  flex-direction: column; 
  gap: 24px;
  width: 605px;
}

.input {
  border: 1px solid #a18268;
  border-radius: 8px;
  height: 55px;
  font-weight: 400;
font-size: 18px;
color: #a18268;
padding-left: 42px;
}